<div class="settings-wrapper">
  <p>Enable/disable available features:</p>
  <ul>
    <li>
      <input type="checkbox" checked={{details}} onchange={{action "updateSetting" "emailDetailsPage"}}/>
      Email Details page</li>
  </ul>
   <button onclick={{action "saveSettings"}}>Save Settings</button>
</div>