<div class="menu-container">
  <nav>
    {{#link-to "index" class="align-center active"}}Home{{/link-to}}
    {{#link-to "inbox" class="align-center active"}}Inbox{{/link-to}}
    {{#link-to "settings" class="align-center active"}}Settings{{/link-to}}
  </nav>
</div>