<div class="details-wrapper">

  <p class="email-subject">{{item.subject}}</p>
  <p class="email-recipent"><span>{{item.sender}}</span><br/>
    to
    <span>{{item.recipent}}</span></p>
  <p class="email-body">
    {{item.body}}
  </p>
</div>