<div class="header-container">
  <div class="hamburger-menu" onclick={{action "toggleMenu"}}>
    <span></span>
    <span></span>
    <span></span>
  </div>
  {{#if showMenu}}
    {{hamburger-menu}}
  {{/if}}
  {{!-- {{#link-to "index" class="align-center active"}}Home{{/link-to}}
  {{#link-to "settings" class="align-center active"}}Settings{{/link-to}} --}}
</div>